<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Vitrine</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h1><img src="/images/Servicepvt.jpg" width="40" height="40" alt=""><span>M.E.C</span><strong>Majuk Engineering Consulting</strong></h1>
        <div class="onglets">
            <a href="/">Home</a>
            <a href="/">Nos produits</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>

    <header>
        <h1>Majuk Engineering Consulting (M.E.C)</h1>
        <h3>Société à responsabilité limité</h3>

        <button><a href="/parcours">Parcours nos services</a></button>
    </header>