
<%- include ('partials/header') -%>

    <section class="main" id="contact">
        <div class="content">
            <div class="card">
                <div class="left">
                    <h1>Contact :</h1>
                    <p><br>
                    (+243) 810 818 009 <br><br><br>
                    Mail : <br><br>
                    irjulesmakonga@gmail.com
                    </p>
                </div>
                <div class="right">
                    <img src="/images/conatct_service.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="left">
                    <h1>Adresse : </h1>
                    <p> 
                        Siège, Gombe, Galerie Présidentielle 12e
                        Boulevard du 30 juin.
                    </p>
                </div>
                <div class="right">
                    <img src="/images/habitatservice.png" alt="">
                </div>
            </div>
        </div>
    </section>

<%- include ('partials/footer') -%>