<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Vitrine</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h1><img src="/images/Servicepvt.jpg" width="40" height="40" alt=""><span>M.E.C</span><strong>Majuk Engineering Consulting</strong></h1>
        <div class="onglets">
            <a href="/">Home</a>
            <a href="#produts">Nos produits</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

    <header>
        <h1>Majuk Engineering Consulting (M.E.C)</h1>
        <h3>Société à responsabilité limité</h3>
        <button><a href="/parcours">Parcours nos services</a></button>
    </header>

    <section class="main" id="produts">
        <div class="content">
            <div class="card">
                <div class="left">
                    <h1>Nos valeurs : </h1>
                    <p><br>
                    - Professionalisme, <br>
                    - Opiniâtreté, <br>
                    - Honnêteté dans le travail.
                    </p>
                    <p>
                    Chaque jour, nous nous réveillons avec une <br> envie de se surpasser, 
                    travaillant avec <br> une 
                    hargne redoublée et dotés d'une ardentemotivation pour rendre 
                    encore meilleure la vie de nos clients.
                    </p>
                </div>
                <div class="right">
                    <img src="/images/valeursen.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="left">
                    <h1>Services</h1>
                    <p> 
                        Nous sommes une entreprise de forage et travaux hydraulique.<br><br>
                        Nous offrons un travail de meilleure qualité.
                        Parce que nous connaissons nos clients; nous sommes attentifs à
                        leur besoin; nous sommes capables de leur offrir un service sur mesure. 
                    </p>
                </div>
                <div class="right">
                    <img src="/images/services.png" alt="">
                </div>
            </div>
            <div class="card">
                <div class="left">
                    <h1>Horaires : </h1>
                    <p> 
                       08h30 - 17h30 Du lundi au vendredi
                       et le Samedi 08h30 - 16h00 . 
                    </p>
                </div>
                <div class="right">
                    <img src="/images/horaireweb.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <%- include ('partials/footer') -%>