<%- include ('partials/header') %>

    <section class="main" id="">
        <div class="onglet">
            <a href="#Exploitation">Exploitation hydrogéologique</a>
            <a href="#Forage">Forage et équipement du puits</a>
            <a href="#Installation">Installation du système...</a>
            <a href="#Entretien">Entretien de puits</a>
            <a href="#Conseil">Conseils techniques</a> <br><br>
            <a href="#bureau">Bureau</a> <br><br>
            
        </div>
        <button><a href="https://www.facebook.com/profile.php?id=100063597919982">Cliquez ici pour plus des visuels de nos réalisations</a></button>
        <tr>
            <ul id="Exploitation">

                    <h1>Exploitation hydrogéologique</h1>
                
                    <img src="/images/parcours_Edro/Exploitation_idro3.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_idro1.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_idro2.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_idro8.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/IMG-20230404-WA0035.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_01.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_03.jpg" width="400" height="400" alt="">
                    <img src="/images/parcours_Edro/Exploitation_04.jpg" width="400" height="400" alt="">
                    <img src="images/parcours_Edro/Exploitation_02.jpg" width="400" height="400" alt="">
                    
                    
            </ul>               
        </tr>
        <tr>
            <ul id="Conseil">

                    <h1>Conseils techniques</h1>
                
                    <img src="/images/conseiltec/conseil1.jpg" width="400" height="400" alt="">
                    <img src="/images/conseiltec/conseil2.jpg" width="400" height="400" alt="">
                    <img src="/images/conseiltec/conseil3.jpg" width="400" height="400" alt="">
                    <img src="/images/conseiltec/conseil4.jpg" width="400" height="400" alt="">  
            </ul>               
        </tr>
        <tr>
            <ul id="Forage">

                    <h1>Forage et équipement du puits</h1>
                
                    <img src="/images/forage/forage1.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage2.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage3.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage4.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage5.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage6.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage7.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage8.jpg" width="400" height="400" alt="">
                    <img src="/images/forage/forage9.jpg" width="400" height="400" alt="">
                    
                    
            </ul>               
        </tr>
        <tr>
            <ul id="Installation">

                    <h1>Installation du système de stockage et réseau de distribution</h1>
                
                    <img src="/images/inst_system/installation1.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation2.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation3.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation4.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation5.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation6.jpg" width="400" height="400" alt="">
                    <img src="/images/inst_system/installation7.jpg" width="400" height="400" alt="">
                    
                    
            </ul>               
        </tr>
        <tr>
            <ul id="Entretien">

                    <h1>Entretien de puits</h1>
                
                    <img src="/images/entretien/entretien1.jpg" width="400" height="400" alt="">
                    <img src="/images/entretien/entretien2.jpg" width="400" height="400" alt="">
                    <img src="/images/entretien/entretien3.jpg" width="400" height="400" alt="">
                    <img src="/images/entretien/entretien4.jpg" width="400" height="400" alt="">
                    <img src="/images/entretien/entretien5.jpg" width="400" height="400" alt="">
                    <img src="/images/entretien/entretien6.jpg" width="400" height="400" alt="">

                    
                    
            </ul>               
        </tr>
        <tr>
            <ul id="bureau">

                    <h1>Bureau</h1>
                
                    <img src="/images/bureau/Bureau1.jpg" width="400" height="400" alt="">
                    <img src="/images/bureau/Bureau2.jpg" width="400" height="400" alt="">
                    <img src="/images/bureau/Bureau3.jpg" width="400" height="400" alt="">
                    <img src="/images/bureau/Bureau4.jpg" width="400" height="400" alt="">
                    <img src="/images/bureau/Bureau5.jpg" width="400" height="400" alt="">
                    <img src="/images/bureau/Bureau6.jpg" width="400" height="400" alt="">     
                    
            </ul>               
        </tr>
    </section>

    <%- include ('partials/footer') %>