@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@1,300&family=PT+Serif:wght@700&family=Playfair+Display:wght@700&family=Raleway:ital,wght@0,300;1,100;1,300&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Serif:wght@700&family=Playfair+Display:wght@700&family=Raleway:ital,wght@0,300;1,100;1,300&family=Roboto+Condensed:wght@700&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    background-color: #1c62b7;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid hsl(68, 63%, 53%);
}
nav h1{
    color: #c3de2a;
    font-family: 'Playfair Display' sans-serif;
    font-size: 35px;
    font-weight: 30px;
}
nav strong{
    color: #f3f4ee;
    font-family: 'Playfair Display' sans-serif;
    font-size: 15px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #fdf2f2;
    margin-right: 10px;
    border-bottom: 1px solid #2ac658;
    padding-bottom: 5px;

}
.onglet a{
    text-decoration: none;
    color: #1e69db;
    margin-right: 10px;
    border-bottom: 1px solid #2ac658;
    padding-bottom: 5px;

}
button a{
    text-decoration: none;
    color: #1e69db;
    margin-right: 10px;
    padding-bottom: 5px;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('/images/imagevitrine.jpg');
    color: #fff;
    padding: 40px;
}
header h1{
    font-family: 'Playfair Display' sans-serif;
    font-size: 30px;
}
header h3{
    margin-top: -10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #cad31a;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color:#000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display' sans-serif;
    cursor: pointer;

}
header button a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color:#000;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display' sans-serif;
    cursor: pointer;

}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: #1c62b7;
    color: #fff;
}

.main .content.card_image {
    padding: 50px;
    flex-wrap: wrap;
    margin: auto;
    align-content: baseline;

}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 300px;
    width: 300px;
    margin-top: 5px;
}
footer{
    margin-top: 50px;
    border-top: 5px solid #cad31a;
    background-color: #1c62b7;
    color: #fff;
    padding: 30px 100px;
}
footer h1{
    font-family: 'Playfair Display' sans-serif;
    border-bottom: 1px solid #bcc2c9;
    width: 19%;
    padding: 5px;
}
footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(220, 209, 209);
    text-align: right;
    padding: 20px;
}

/* utiliasation de midias queries pour la taille mobile */
@media screen and (max-width:680px){
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }

}